*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
button{
    cursor: pointer;
}
body{
    background: rgb(147,110,6);
background: linear-gradient(86deg, rgba(147,110,6,1) 0%, rgba(117,17,110,1) 100%, rgba(115,20,113,1) 100%, rgba(0,212,255,1) 100%);
height: 100vh;
}
.container{
    width: 60%;
    margin:  150px auto ;
    border-radius: 8px;
   overflow: hidden;
display: flex;
position: relative;
min-height: 60vh;
}
.player1{
    background-color: rgb(255, 192, 203,0.5);
     display: flex;
     flex-direction: column;
justify-content: space-between;
    width: 50%;
}
.player2{
    background-color: rgba(160, 89, 101, 0.5);
     display: flex;
     flex-direction: column;
     justify-content: space-between;
    width: 50%;
}
.newgame{
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%,-50%);
    border: none;
    border-radius: 8px;
    overflow: hidden;
}
#newgame{
    padding: 12px 20px;
    font-size: 12px;
    text-transform: uppercase;
    background-color: rgb(255, 255, 255,0.5);
    transform-origin: center;
    border: none;
}
#dice{
width: 80px;
height: 80px;
background: white;
position: absolute;
top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.rolldice{
    position: absolute;
    position: absolute;
    top: 77%;
    left: 50%;
    transform: translate(-50%,-50%);
    border: none;
    border-radius: 8px;
    overflow: hidden;
}
#rolldice{
    padding: 12px 20px;
    font-size: 12px;
    text-transform: uppercase;
    background-color: rgb(255, 255, 255,0.5);
    transform-origin: center;
    border: none;
}
.hold{
    position: absolute;
    position: absolute;
    top: 87%;
    left: 50%;
    transform: translate(-50%,-50%);
    border: none;
    border-radius: 8px;
    overflow: hidden;
}
#hold{
    padding: 12px 20px;
    font-size: 12px;
    text-transform: uppercase;
    background-color: rgb(255, 255, 255,0.5);
    transform-origin: center;
    line-height: 1.5;
    border: none;
}
.name1 , .name2{
    margin: 20% auto 0;
    font-size: 30px;
    pointer-events: none;
    text-align: center;
    
}
.score1, .score2{
    margin: 7% auto 0;
    font-size: 60px;
    pointer-events: none;
    color: rgb(221, 81, 81);
    font-size: bold;
    text-align: center;
}
.current1 , .current2{
color: white;
background-color: rgb(151, 28, 28,0.75);
text-align: center;
width: 40%;
margin: 0px auto 10%;
height: 16.5%;
display: flex;
flex-direction: column;
justify-content: space-around;
border-radius: 8px;
}